.page
{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    scroll-snap-align: end;
}

.text-box
{
    position: absolute;
    top: 10rem;
    left: 5rem;

    height: 10vh;
    width: 30vw;
}

.images
{
    position: absolute;
    top: 11rem;
    left: 32rem;
}

.btn-primary
{
    height: 2.8rem;
    width: 8rem;

    border-radius: 2rem;
    background-color: var(--white);

    outline: none;

    transition: all .5s ease-in-out;

    font-size: 1rem;
    font-weight: 300;
}

.btn-primary:hover
{
    transform: scale(1.15);

    font-weight: 500;

    background-color: var(--background);
}

.modelForm
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--colorA);

    border-radius: 1rem;
}

.title
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 8vh;

    color: var(--white);
}

.body-form
{
    display: flex;
    flex-direction: column;
    
    
    width: 95%;
    height: 40vh;
}

.form-input
{
    height: 2rem;

    border: 1px solid var(--border-input);
    border-radius: 0.5rem;
}

.frm-btn
{
    height: 3rem;

    border-radius:.5rem;

    font-weight: bold;

    font-size: 1rem;
    font-family: 'Roboto', sans-serif;

    transition: all .5s ease;

}

.frm-btn:hover
{
    background-color: var(--colorF);

    font-size: 1.2rem;
}