@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root
{
    --white: #f2f5f6;
    --colorA: #FA87FA;
    --colorB: #C55CCC;
    --colorC: #E6D5E8;
    --campea: #E466FF;
    --colorE: #E292FA;
    --colorF: #f8c5f8;
    --botao-tipo-1: #ffbbbb;
    --black: #190B1C;
    --background: #dfdfdf;
    --border-input: #c4c4c4;
}

header
{
    width: 100vw;
    height: 6.5vh;

    display: flex;
    justify-content: flex-end;

    background-color: var(--colorB);

    position: fixed;

    top: 0rem;

    z-index: 99;
}

#logo
{
    position: absolute;

    top: .5rem;
    left: 2rem;
}

header #buttons
{
    width: 20vw;
    height: 6.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 7rem 0 0;
}

::-webkit-scrollbar
{
    display: none;
}