#page-landing
{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--colorA);
}

header
{
    width: 100vw;
    height: 6.5vh;

    display: flex;
    justify-content: flex-end;
}

header #buttons
{
    width: 12vw;
    height: 6.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 7rem 0 0;
}

#images
{
    position: absolute;
    top: 11rem;
    left: 25rem;
}

.btn
{
    height: 2.5rem;
    width: 7rem;

    border-radius: 2rem;
    background-color: var(--white);

    outline: none;
}

#btn-login
{
    border: solid 1px blue;
    color: blue;

    margin: 0 0 0 1rem;
}

#btn-register
{
    border: solid 1px green;
    color: green;
    margin: 0 1rem 0 0;
}

#forms
{
    height: 40vh;
    width: 20vw;

    background-color: var(--white);

    position: absolute;
    top: 18rem;
    right: 7rem;

    border-radius: 0.5rem;
}

#form-login
{
   background-color: var(--white);

   border-radius: 0.5rem;

   display: none;
}

#form-register
{
    background-color: var(--white);

   border-radius: 0.5rem;

   display: flex;
}

.modelForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 8vh;
}

.body-form
{
    display: flex;
    flex-direction: column;
    
    
    width: 95%;
    height: 30vh;
}

.body-form input
{
    height: 1.8rem;

    border: 1px solid var(--border-input);
    border-radius: 0.3rem;
}

.body-form label
{
    margin: 2rem 0 .4rem 0;
}

.frm-btn
{
    height: 3rem;

    margin: 4rem 0 0 0;

    border-radius:.5rem;

    font-weight: bold;
}

#submit-register
{
    border: 1px solid green;

    color: green;
}

#submit-login
{
    border: 1px solid blue;

    color: blue;
}