#page1
{
    background-color: var(--colorA);
}

header
{
    width: 100vw;
    height: 6.5vh;

    display: flex;
    justify-content: flex-end;
}

header #buttons
{
    width: 12vw;
    height: 6.5vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 7rem 0 0;
}

#btn-login
{
    border: solid 1px blue;
    color: blue;

    margin: 0 0 0 1rem;
}

#btn-register
{
    border: solid 1px green;
    color: green;
    margin: 0 1rem 0 0;
}

#forms-area
{
    height: 40vh;
    width: 20vw;

    background-color: var(--white);

    position: absolute;
    top: 18rem;
    right: 7rem;

    border-radius: 0.5rem;
}

#form-register
{
    display: none;
}

#body-form-login label
{
    margin: 2rem 0 .4rem 0;
}

#body-form-register label
{
    margin: 1rem 0 .4rem 0;
}

#submit-register
{
    border: 1px solid green;

    color: green;

    margin: 2rem 0 0 0;
}

#submit-login
{
    border: 1px solid blue;

    color: blue;

    margin: 4rem 0 0 0;
}