#main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

    height: 92vh;
    width: 100%;

    margin-top: 7vh;

    overflow: scroll;
}

.prazo-title
{
    position: relative;

    top: -4rem;
    left: 2rem;
}